# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Original project notebook
3_Projeto_final_Clusterização_e_Redução_de_dimensionalidade_v2.ipynb
